
//HEADER 
.navbar {
	min-height:60px; 
	font-weight:300;
	text-transform: uppercase;

	.navbar-brand { 
		font-size: 1.45rem;
	 }
}

.btn-header {
	font-size: .9em
}

.btn {
	font-weight:300;
	text-transform: uppercase;
}



#navbarNavDropdown {
	.navbar-nav {
		.dropdown-menu {
			background-color: $gray-lightest;
			margin-top: $spacer-y * .5;
			padding: 0;

			.nav-link {
				color: $gray-light;
				padding: $spacer;

				&:hover {
					background-color: darken( $gray-lightest, 5% );
				}
			}
		}

		.nav-link {
			color: $gray-lighter;
			padding-right: 2 * $spacer;
			white-space:nowrap;
			padding-left: 0;
		}
	}
	
}


//NAV STYLING
@include media-breakpoint-down(md) {

	.navbar { padding-bottom: 0;}

	#wrapper-navbar {
		.container-override { width: 100%;}
	}

	#navbarNavDropdown {
		background-color: $gray-lightest;
		margin-top: $spacer-y;
		margin-bottom: 0;
		margin-left: -$spacer-x;
		margin-right: -$spacer-x;

		.navbar-nav {
			.nav-link {
				padding: $spacer-y $spacer-x;
				color: $gray;
				border-bottom: 1px solid $gray-lighter;

				&:hover {
					background-color: darken( $gray-lightest, 5% );
				}
			}

			.dropdown-menu {
				border:none;
				float: none;
				margin-top: 0;

				.nav-link {
					padding: $spacer-y $spacer-x * 2;
					color: $gray;
				}
			}

		}
		
	}
}

.cta-callout {
	border-top: none;
	.card-header {
		border-bottom: none;
	}
}
